[submodule "external/hoshidicts"]
	path = external/hoshidicts
	url = https://github.com/Manhhao/hoshidicts.git
[submodule "external/hoshidicts-kotlin-bridge"]
	path = external/hoshidicts-kotlin-bridge
	url = https://github.com/Manhhao/hoshidicts-kotlin-bridge.git
